@tailwind base;
@tailwind components;
@tailwind utilities;

.form-field {
    @apply flex flex-col items-start p-5;
}

.input-form{
    @apply rounded-md p-2 bg-[#F3F3F5] block w-full p-2 border rounded;
}

.form-container{
    @apply border-2 border-black;
}